body {
  margin: 0;
  width: 375px;
  margin: 0 auto;
  background: #c6c6c6;
  font-family: "Source Sans 3", sans-serif;
}

/* main container */
.mainContainer {
  background: #ededed;
}

section,
nav {
  background-color: #fff;
  border-bottom: 1px solid #c6c6c6;
}

section {
  margin-bottom: 20px;
}

nav,
header,
footer {
  padding-left: 10px;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  height: 67px;
  padding-bottom: 5px;
}

.logo {
  width: 127px;
}

nav .avatar {
  margin-top: 15px;
  margin-right: 20px;
}

/* header */
header {
  height: 34px;
  padding-top: 0;
  padding-bottom: 20px;
}
header img {
  display: inline-block;
  margin-top: 10px;
}

.containerHeader {
  margin-bottom: 0;
  margin-left: 10px;
}

header h2 {
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 0;
}
header h3 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 0;
}

/* main */
header {
  display: flex;
}

/* post */
.postIMG {
  width: 375px;
  height: 375px;
}

/* footer */
footer {
  line-height: 1rem;
}

footer img {
  width: 23px;
}

.emoji img {
  margin-top: 15px;
  margin-right: 12px;
}

.emoji img:hover {
  opacity: 0.5;
}

footer h2 {
  font-size: 0.813rem;
}

footer span {
  font-weight: 400;
  margin-left: 3px;
}

.username {
  margin-bottom: 15px;
}
